@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: Montserrat-Medium;
        src: url('../fonts/Montserrat-Medium.ttf');
    }
    @font-face {
        font-family: Montserrat-Bold;
        src: url('../fonts/Montserrat-Bold.ttf');
    }

    body {
        background: rgb(241,245,249);
    }

    *:focus {
        outline: none !important;
    }

    ::-webkit-scrollbar {
        @apply w-2 h-1
    }
    ::-webkit-scrollbar-thumb {
        /* background: #4f46e550; */
        @apply bg-dark-purple
    }

    .hide-scroll::-webkit-scrollbar-thumb {
        @apply bg-transparent
    }

    .page-link a {
        display: block;
        padding: .5rem 1rem;
    }

    .h-115 {
        height: 24.5rem;
    }

    .dropdown-height {
        min-height: 3rem;
        max-height: 25rem;
    }

    .btn {
        @apply bg-indigo-600 hover:bg-indigo-800 text-white font-montserrat-bold px-6 py-2.5 duration-300 rounded-lg
    }

    .btn__add {
        @apply flex items-center border border-indigo-500 hover:bg-indigo-600 text-indigo-600 hover:text-white duration-300 px-2 py-1.5 rounded-lg
    }

    .btn__delete {
        @apply border border-red-500 text-red-500 hover:bg-red-500 hover:text-white duration-300 w-8 h-8 mx-1 flex items-center justify-center rounded-full
    }
    
    .navlink {
        @apply bg-slate-100 hover:bg-slate-200 text-slate-600 border border-slate-200 font-montserrat-bold px-6 py-3 duration-300 rounded-lg ml-10
    }

    .breakClassName {
        @apply bg-white border-gray-300 rounded-lg text-gray-500 hover:bg-gray-50 md:inline-flex relative items-center m-1 px-4 py-2 border text-sm
    }

    .pageLinkClassName {
        @apply bg-white page-link rounded-lg border-gray-300 text-gray-500 hover:bg-gray-50 md:inline-flex relative items-center px-4 py-2 m-1 border text-sm
    }

    .containerClassName {
        @apply relative z-0 inline-flex justify-center rounded-md mb-16 w-full
    }

    .activeLinkClassName {
        @apply bg-gray-200
    }
}